@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
    background-color: #F2E4DC;
    padding-top: 15px;
    padding-bottom: 15px;
}

header{
    background-color: #A67C58;
}

hr {
    margin: 0;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #A67C58;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px black;
}

html{
    background-color: #F2E4DC;
}

.headings {
    background-color:#BF7E78;
    width: 350px;
}

.scrumptious-recipes {
    background-color:#BF7E78;
    margin: auto auto;
    width: 350px;

}


h1 {
    font-variant: small-caps;
    font-size: 250%;
    color: black;
    margin: 5px;
    text-align: center;
}

h2 {
    font-size: 150%;
    margin: 5px;
    margin-bottom: 15px;
    text-align: center;
}

a:hover{
    color: white;
}

.Main-Page{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
}

.food-link{
    text-decoration: none;
    color: black;
}

.food-link:hover{
    color:#44803F;
}

body {
    font-family: 'Roboto';
}

.food-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
}

.recipe-table{
    border-spacing: 0px;
}

.recipe-table tr:nth-child(even){
    background-color: lightgray;
}

.rating{
    font-style:italic;
}

#rating{
    text-align: center;
}

#taco{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.detail-column{
    display: grid;
    grid-template-columns: 400px 300px 600px;
}
